.head {
    background-color: #0f3363;
  }
  #logout {
    cursor: pointer;
  }
  #profile{
    cursor: pointer;
  }
  h1 {
    color: #000000;
  }
 li{
    text-decoration: none;
    list-style: none    ;
 }